<!---CONTENEDOR CON BOOTSTRAP-->
<div class="container mt-5">
  <h2 class="mb-4 text-center">Gestión de Usuarios</h2>

  <!--FORMULARIO AGREGAR O EDITAR USUARIO-->
  <form (ngSubmit)="guardarUsuario()" class="card p-4 shadow-sm mb-4">
    <div class="row g-3">
      <!--CAMPO NOMBRE-->
      <div class="col-md-5">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="usuario.nombre"
          name="nombre"
          placeholder="Nombre"
          required
        />
      </div>
      <!--CAMPO EMAIL-->
      <div class="col-md-5">
        <input
          type="email"
          class="form-control"
          [(ngModel)]="usuario.email"
          name="email"
          placeholder="Email"
          required
        />
      </div>

      <!--BOTONES PARA ACCIONES AGREGAR, ACTUALIZAR Y CANCELAR-->
      <div class="col-md-2 d-grid gap-2">
        <button type="submit" class="btn btn-primary">
          {{ editando ? "Actualizar" : "Agregar" }}
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          *ngIf="editando"
          (click)="resetFormulario()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>

  <!--TABLA PARA MOSTRAR LOS REGISTROS DE USUARIOS-->
  <table class="table table-bordered table-hover shadow-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Email</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of usuarios; let i = index">
        <td>{{ u.id }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.email }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-warning me-2" (click)="editar(u)">
            Editar
          </button>

          <button class="btn btn-sm btn-danger" (click)="eliminar(u.id!)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
